*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:black; 
}
ul li{
	list-style-type: none;
}
.nav{
	width: 100%;
	height: 130px;
	
}
.sidebar{
	width: 100%;
	height:45px;
	
}
.left-sidebar{
	width: 30%;
	height:45px;
	
	float:left;
}
.left-sidebar ul li{
	float:left;
	padding-left: 15px;
	padding-top: 10px;
}
.right-sidebar{
	width: 30%;
	height:45px;
	
	float:right;
}
.right-sidebar ul li{
	float:right;
	padding-right: 15px;
	padding-top: 10px;
}

/*标志*/

.logo{
	width: 170px;
	height: 30px;
	margin: 0 auto;
}
/*菜单*/
.menu{
	width:33%;
	height:30px;
	
	margin-top: 20px;
	margin-left:33%;

}
.menu ul li{
	width: 20%;
	height: 100%;
	text-align: center; 
	float:left;
}
/*主体*/
.main{
	width:100%;
	height:100%;
		
}
.main img{
	width:100%;
	height: 100%;
}
/*子导航*/
.subnav{
	width:100%;
	height: 80px;
	
}
.subnav p{
	width:1100px;
	height:40px;
	
	margin: 0 auto;
	margin-top: 30px;
}












/*图片栏*/
.photos{
	width:100%;
	height: 870px;	
}
.photos-box{
	width:1100px;
	height: 870px;
	margin: 0 auto;
}
.photos-box1{
	width: 100%;
	height: 435px;
}
.photo1{
	width: 640px;
	height: 433px;
	float: left;
}
.photo2{
	width: 450px;
	height: 433px;
	float:right;
}
.photos-box2{
	width: 100%;
	height: 435px;	
}
.photo3{
	width:450px;
	height: 433px;	
	float:left;
}
.photo4{
	width: 638px;
	height: 433px;
	margin-right: 0px;
	float:right;
	
}
.photo1 img,.photo2 img,.photo3 img,.photo4 img,{
	width: 100%;
	height: 100%;
}

/*产品表单*/
.font{
	width:100%;
	height:815px;
}
/*产品标志*/
.font-logo{
	width: 100%;
	height: 215px;
	margin:0 auto;
}
.font-logo img{
	width:185px;
	height: 57px;
	margin-right: -50%;
	margin-left:+50%;
	margin-top: 80px;
}
.font-center{
	width:100%;
	height:300px;
	
}
.font-box1{
	width: 1100px;
	height: 200px;
	margin: 0 auto; 
}
.font-box1 ul li{
	width: 24.8%;
	height: 200px;
	float: left;
}
.font-box1 ul li a img{
	width: 100%;
	height: 100%;
}

.note-top{
	width: 1100px;
	height: 100px;
	margin:0 auto;
}
.note-top ul li{
	width: 24.8%;
	height: 100px;
	float: right;
	text-align: center;
}

.font-bottom{
	width:100%;
	height:300px;
}
.font-box2{
	width: 1100px;
	height: 200px;	
	margin: 0 auto; 
}
.font-box2 ul li{
	width: 24.8%;
	height: 200px;	
	float: left;
}
.font-box2 ul li a img{
	width: 100%;
	height: 100%;
}
.note-bottom{
	width: 1100px;
	height: 100px;
	margin:0 auto;
}
.note-bottom{
	width: 1100px;
	height: 100px;
	margin:0 auto;
}
.note-bottom ul li{
	width: 24.8%;
	height: 100px;
	text-align: center;
	float: left;
}



/*图片广告*/
.photo-banner{
	width:100%;
	height:100%;
}
.photo-banner img{
	width:100%;
	height:100%;
}
/*页脚顶部-空白页*/
.footer-top{
	width:100%;
	height: 195px;
}
/*页脚(包含:指南+左边指南)*/
.footer{
	width: 100%;
	height: 335px;
	border:1px solid rgb(237 237 237);
	background-color:rgb(237 237 237); 
}
/*指南*/
.guild{
	width: 1100px;
	height: 285px;
	margin: 0 auto;
	margin-top: 50px;
}
/*左边指南*/
.guild-left{
	width: 715px;
	height: 285px;
	position: relative;
	line-height: 35px; 
}
.guild-left ul{
	float:left;
	margin-right:160px;
}
.looks{
	position: absolute;
	left: 500px;
	top: 0;
}

/*右边指南*/
.guild-right{
	width: 375px;
	height: 280px;
	border-left:1px solid #ccc;
	position:absolute;
	top: 0px;
	left: 720px;
}
.gright-lefts{
	width: 145px;
	height: 100%;
	float: left;
}
.gright-rights{
	width: 225px;
	height: 280px;
	float:right;
}
.rights-top{
	width: 100%;
	height:40px;
	
}
.rights-center1{
	width: 100%;
	height:40px;
	
}
.rights-center1 input{
	width: 100%;
	height: 100%;
	background-color:#ccc; 
}
.rights-center2{
	width: 100%;
	height:40px;
	
}
.rights-center3{
	width: 100%;
	height:40px;
	
}
.rights-bottom{
	width: 100%;
	height:40px;
	
}
.rights-bottom input{
	width: 100%;
	height: 100%;
	background-color:#ccc; 
}
.clr{
	clear: both;
}
.copyright{
	display: inline-block;
}
/*版权*/
.copyright{
	width:715px;
	height:90px;
	position: absolute;
	left: 0;
	bottom: 0;
}

