.kuang{
    width: 1320px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    overflow: hidden;
}
.neirong{
    width: 50%;
    height: 700px;
    background: black;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all .28s ease-in .1s;	
}
#ee{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition:  all 0.1s ease 0s;
}
.kuang:hover .neirong{
    transform:translateX(-700px);
}
.neirong-you{
    width: 50%;
    height: 700px;
    background: black;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right:0px;
    transition: all .28s ease-in .1s;
}
.deng{
    width: 680px;
    height: 90px;
    background: url(images/02.gif);
    background-size: 20% 90px;
}
.deng1{
    background: url(images/03.gif);
    background-size: 20% 90px;
}
.kuang:hover .neirong-you{
    transform:translateX(700px);
}
.suofang{
    width: 500px;
    height: 500px;
    background: red;
    border-radius: 500px;
    position: absolute;
    top:13%;
    left: 32%;
    opacity: 0;
    transform: scale(0.1);
}
.suofang img{
    width: 500px;
    height: 500px;
    border-radius: 500px;
}
.kuang p{
    display: block;
    width: 27px;
    font-size: 25px;
    position: absolute;
    bottom: -550px;
    color: white;
    left: 14%;
}
#you2{
    display: block;
    width: 27px;
    font-size: 25px;
    position: absolute;
    bottom: -550px;
    color: white;
    left: 25%;
}
.neirong p,.neirong-you p{
    position: absolute;
    top: 40%;
    color: red;
    left: 50%;
}
#you{
    color: white;
    width: 27px;
    border:1px solid #dadada;
    position: absolute;
    font-size: 25px;
    bottom: -550px;
    right: 15%;
}
#you1{
    color: white;
    width: 27px;
    border:1px solid #dadada;
    position: absolute;
    font-size: 25px;
    bottom: -550px;
    right:25%;
}


@media all and (max-width:1200px) {
  .top_bj{
      display: none !important;
  }
  .nav {
    padding-top: 100px !important;
    width: 100% !important;
    overflow: hidden !important;
   
}
.nav_tab{
    float:none !important;
    width: 70% !important;
    margin: 0 auto !important;
}
.nav_button1{
    display: none !important;
}
.tab1, .tab2, .tab3 {
    color: #fff;
    font-size: 1.42rem;
    text-align: center !important;
    line-height: 24px;
}
.nav_function{
    display: none;
}
.introduce_content1 {
    width: 100% !important;
    font-size: 20px;
    color: #606060;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;

    line-height: 32px;
    text-align: center !important;
}
.introduce_content1_span{
    width: 80%;
    margin: 0 auto !important ;
    display: block !important;
    text-align: center !important;
    line-height: 37px !important;
}
.kuang {
    width: 100% !important;
    height:600px !important;
    margin: 0 auto;
    position: relative;
    border: 1px solid red;
    overflow: hidden;
}

.neirong {
  
    height: 600px !important;
  
}
.neirong-you {
 
    height: 600px !important;

}
.suofang {
    width: 25% !important;
    height: 25% !important;
    background: red;
    border-radius: 25% !important;
    position: absolute;
    top: 13% !important;
    left: 30% !important;
    opacity: 0;
    transform: scale(0.1);
}
}

@media all and (max-width:750px) {
    .nav_tab {
        float: none !important;
        width: 50% !important;
        margin: 0 auto !important;
    }
    .tab1, .tab2, .tab3 {
        color: #fff;
        font-size: 1.42rem;
        letter-spacing: 0.21rem;
        padding-right: 3.43rem !important;
        padding-left: 0.21rem !important;
        line-height: 24px;
    }
    .top_title span {
        font-size: 3.86rem !important;
        overflow: hidden;
        letter-spacing: 0.4rem !important;
    }
    .introduce_title img {
        width: 58% !important;

    }
    .introduce_content1_span{
        font-size: 15px !important;
        width: 70% !important;
        margin: 0 auto !important;
        display: block !important;
        text-align: center !important;
        line-height: 37px !important;
    }
    .introduce_content1 ul {
        font-size: 24px !important;
        padding-top: 30px !important;
    }
    .introduce_content1 li {
        font-size: 17px !important;
        padding-top: 14px !important;
    }

    .kuang {
        width: 100% !important;
        height: 500px !important;
        margin: 0 auto;
        position: relative;
        border: 1px solid red;
        overflow: hidden;
    }


    .suofang {
        width: 55% !important;
        height: 76% !important;
        background: red;
        border-radius: 25% !important;
        position: absolute;
        top: 8% !important;
        left: 23% !important;
        opacity: 0;
        transform: scale(0.1);
    }
    .suofang img {
        width: 100% !important;
        height: 100% !important;
        border-radius: 500px;
    }
    .kuang p {
        display: block;
        width: 27px;
        font-size: 21px !important;
        position: absolute;
        bottom: -521px !important;
        color: white;
        left: 14%;
    }
    #you {
        color: white;
        width: 27px;
        border: 1px solid #dadada;
        position: absolute;
        font-size: 21px !important;
        bottom: -521px !important;
        right: 15%;
    }
    #you1 {
        color: white;
        width: 27px;
        border: 1px solid #dadada;
        position: absolute;
        font-size: 23px !important;
        bottom: -550px;
        right: 25%;
    }
    #you2 {
        display: block;
        width: 27px;
        font-size: 23px !important;
        position: absolute;
        bottom: -550px;
        color: white;
        left: 25%;
    }
}


@media all and (max-width:500px) {
  
    
}

